<h1><%=@player_1_name%>'s turn</h1>

<div><%=@player_1_name%> vs. <%=@player_2_name%></div>

<div><%=@player_2_name%>: <%=@player_2_hitpoints%>hp</div>

<div><form action="/attacking_2">
  <input type="submit" value="Attack"></form>
</div>
